<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit {{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Edit {{ folder }}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="add-patient-form" *ngIf="folder.toLowerCase() === 'patients'; else diseaseForm">
      <form>
        <ion-item>
          <ion-label position="floating">Last name</ion-label>
          <ion-input type="text" name="last_name" [(ngModel)]="item.last_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">First name</ion-label>
          <ion-input type="text" name="first_name" [(ngModel)]="item.first_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Middle name</ion-label>
          <ion-input type="text" name="middle_name" [(ngModel)]="item.middle_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-input type="text" name="gender" [(ngModel)]="item.gender"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Birthday</ion-label>
          <ion-input type="date" name="birthday" [(ngModel)]="item.birthday"></ion-input>
        </ion-item>
        <div class="actions">
          <ion-button color="primary" size="medium" (click)="update()">Submit</ion-button>
        </div>
      </form>
    </div>
    <ng-template #diseaseForm>
      <div class="add-disease-form">
        <form>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="item.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mortality</ion-label>
            <ion-input type="text" name="mortality" [(ngModel)]="item.mortality"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Step</ion-label>
            <ion-input type="text" name="Step" [(ngModel)]="item.step"></ion-input>
          </ion-item>
          <div class="actions">
            <ion-button color="primary" (click)="update()">Submit</ion-button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</ion-content>