<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ folder }}</ion-title>
      </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="primary" size="small" style="margin: 0 15px;" (click)="add()">Add</ion-button>
    <ion-list *ngIf="folder?.toLowerCase() === 'patients'; else diseases">
      <ion-item-sliding *ngFor="let item of items">
        <ion-item>
          <ion-label>{{ item?.last_name }} {{ item?.first_name }} {{ item?.middle_name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="items.length === 0">
          <ion-label>No patients</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="view(item)">View</ion-item-option>
          <ion-item-option (click)="edit(item)">Edit</ion-item-option>
          <ion-item-option (click)="delete(item)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ng-template #diseases>
      <ion-list>
        <ion-item-sliding *ngFor="let item of items">
          <ion-item>
            <ion-label>{{ item.name }} ({{ item.step }}, {{ item.mortality }})</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="view(item)">View</ion-item-option>
            <ion-item-option (click)="edit(item)">Edit</ion-item-option>
            <ion-item-option (click)="delete(item)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-template>
  </div>
</ion-content>