<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View {{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">View {{ folder }}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="folder.toLowerCase() === 'patients'; else disease" class="info">
      <p>First name: {{ item.first_name }}</p>
      <p>Last name: {{ item.last_name }}</p>
      <p>Middle: name: {{ item.middle_name }}</p>
      <p>Birthday: {{ item.birthday }}</p>
      <p>Gender: {{ item.gender }}</p>
      <p>Diseases: {{ item.diseases?.length }}</p>
      <div class="actions">
        <ion-button color="primary" (click)="edit()">Edit</ion-button>
        <ion-button color="danger" (click)="delete()">Delete</ion-button>
      </div>
    </div>
    <ng-template #disease>
      <div class="info">
        <p>Name: {{ item.name }}</p>
        <p>Mortality: {{ item.mortality }}</p>
        <p>Step: {{ item.step }}</p>
        <div class="actions">
          <ion-button color="primary" (click)="edit()">Edit</ion-button>
          <ion-button color="danger" (click)="delete()">Delete</ion-button>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>